$black: #000000;
$transparent-black: #00000075;
$grey: #4e4e4e;
$grey-hover: #3b3b3b;
$grey-active: #242424;
$white: #ffffff;
$blue: #7cbde6;
$blue-hover: #669dbe;
$blue-active: #507c97;
$dark-blue: #1d3557;
$dark-blue-hover: #14253d;
$dark-blue-active: #0b1422;

html {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

.button {
    background: $white;
    color: $white;
    border: 1px solid $transparent-black;
    font-size: 25px;
    cursor: pointer;
}

.numeric {
    background: $grey;
}

.numeric:hover {
    background: $grey-hover;
}

.numeric:active {
    background: $grey-active;
}

.operator {
    background: $blue;
}

.operator:hover {
    background: $blue-hover;
}

.operator:active {
    background: $blue-active;
}

.backspace, .clear, .equals {
    background: $dark-blue;
}

.backspace:hover, .clear:hover, .equals:hover {
    background: $dark-blue-hover;
}

.backspace:active, .clear:active, .equals:active {
    background: $dark-blue-active;
}

.calculator {
    border: 3px solid $grey;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: $transparent-black;
}

.display {
    width: 100%;
    height: 100%;
    background-color: $transparent-black;
    color: $white;
    font-size: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
